.section-welcome {
	padding-left: $glb-margin;
	width: 100%;
	display: inline-block;

	.welcome {

		&__text {
			display: inline-block;
			font-family: "Amatic SC";
			font-weight: bold;
			font-size: 9rem;
			width: 44.3vw;
			margin-bottom: 5rem;

			&_first {
				color: var(--text-secondary);
			}

			&_second {
				margin-top: 2rem;
				margin-left: 27%;
				display: inline-flex;
				color: var(--negative-color);

				&-fitfood {
					font-family: "Charm Luxurious";
					font-weight: normal;
					text-shadow: -2px 2px 0 #014011;
					color: var(--text-secondary);
				}

				&-good {
					color: $red;
				}
			}
		}
	}

	.fitfood-plate {
		width: 35rem;
		margin-left: 20.5rem;
		margin-top: -.7rem;
	}

}
