$lightgreen:#038C3E;
$green:		#025918;
$darkgreen:	#014011;
$red:		#F22E3E;
$yellow:	#D9A50B;

$white:		#fff;
$black:		#000;

$header-height: 8rem;
$footer-height: 8rem;

$glb-margin-rem:27.5rem;
$glb-margin: calc(100vw * ($glb-margin-rem)/192rem);