@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";
@import "vendor/fontawesome-free-6.5.2-web/scss/fontawesome";
@import "vendor/fontawesome-free-6.5.2-web/scss/solid";
@import "vendor/fontawesome-free-6.5.2-web/scss/brands";



html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    color: $darkgreen;
    // overflow-x: hidden;
    background-color: $white;

    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;

    ::selection {
        background: lighten($yellow, 20%); /* Safari */
    }
    ::-moz-selection {
        background: lighten($yellow, 20%); /* Firefox */
    }
}

a {
    &:link, &:active, &:visited {
        text-decoration: none;
        color: $darkgreen;

    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 3px solid $red;
        border-radius: 3px;
    }
}

button {
    outline: none;
    text-decoration: none;
    border: none;
    padding: 0;
    background: transparent;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/section_welcome";
