{%  extends 'app/base.html' %}
{% load static %}

{% block content %}

<section class="section-welcome welcome">
	<div class="welcome__text">
		<p class="welcome__text_first">Здоровая Еда</p>
		<p class="welcome__text_second"><span class="welcome__text_second-fitfood">FitFood</span>—<span class="welcome__text_second-good">ЗДОРОВО</span>!</p>
		<img src="{% static 'images/plate-kitchenware.png' %}" alt="" class="fitfood-plate"> 
	</div>
	<article class="recommend">
		<div class="recommend__info">
			<p class="recommend__info_day">Воскресенье</p>
			<p class="recommend__info_mealtime">Завтрак</p>
			<p class="recommend__info_name">Куриный пирог с капустой и трюфельным соусом</p>
			<div class="recommend__info_stats">
				<div class="left-column">
					<p><span>Б</span> 40</p>
					<p><span>Ж</span> 40</p>
					<p><span>У</span> 40</p>
				</div>
				<div class="right-column">
					<p><span>410</span>ккал</p>
					<p><span>310</span>грамм</p>
				</div>
			</div>
		</div>
		<div class="recommend__control">
			<p class="recommend__control_price">400₽</p>
			<div class="recommend__control_count-block count-btn" data-state="primal">
					<button class="add-cart">В КОРЗИНУ</button>
					<button class="count-btn__decrease">—</button>
					<p class="count-btn__count">1</p>
					<button class="count-btn__increase">+</button>
			</div>
		</div>
		<img src="{% static 'images/food/raspberry.png' %}" alt="" class="recommend__photo">
	</article>
</section>

<section class="section-menu">
	<div class="menu-links-wrapper__hr menu-links-wrapper__hr--top"></div>
	<div class="menu-links-wrapper">
		<div class="menu-links">
			<p class="menu-links__title">Блюда</p>
			<div class="menu-links__container">
				<a href="#" class="menu-links__link active">Завтрак</a>
				<a href="#" class="menu-links__link">Обед</a>
				<a href="#" class="menu-links__link">Ужин</a>
				<a href="#" class="menu-links__link">Полдник</a>
			</div>
			<button class="menu-links__next">Напитки <i class="fa-solid fa-arrow-down"></i></button>
		</div>
	</div>
	<div class="menu-links-wrapper__hr menu-links-wrapper__hr--bottom"></div>
	<div class="menu-content">
		<div class="menu-category">
			<p class="menu-category__name">Завтрак</p>
			<div class="menu-category__list">
				{% for i in '012345678900000000000000000000000000000000000'|make_list %}
				<div class="menu-card"></div>
				{% endfor %}
			</div>
		</div>
	</div>
	
</section>
<section style="width: 100%; height: 300rem;"></section>

{% endblock %}